<ul>
  <li>First Name: <%= @contact[:firstname] %></li>
  <li>Last Name: <%= @contact[:lastname] %></li>
  <li>Phone Number: <%= @contact[:phone] %></li>
  <li>Email: <%= @contact[:email] %></li>
  <li>Relation: <%= @contact[:relation] %></li>
</ul>