<ul>
  <li>First Name: <%= @contact[:firstname] %></li>
  <li>Last Name: <%= @contact[:lastname] %></li>
  <li>Phone Number: <%= @contact[:phone] %></li>
  <li>Email: <%= @contact[:email] %></li>
  <li>Relation: <%= @contact[:relation] %></li>
</ul>

<a href="/">Back</a>
<a href="/contacts/<%= @contact_id %>/edit">Edit</a>
<form class="inline" action="/contacts/<%= @contact_id %>/delete" method="post">
  <button type="submit">Delete</button>
</form>