<p>Enter the new contact information:</p>
<form action="/contacts" method="post">
  <fieldset>
    <div>
      <label for="firstname">First Name:
        <input name="firstname" placeholder= "ex. John" type="text" value="<%= params[:firstname] %>">
      </label>
    </div></br>
    <div>
      <label for="lastname">Last Name:
        <input name="lastname" placeholder= "ex. Smith" type="text" value="<%= params[:lastname] %>">
      </label>
    </div></br>
      <div>
      <label for="phone">Phone Number:
        <input name="phone" placeholder= "ex. 123456789" type="tel" value="<%= params[:phone] %>">
      </label>
    </div></br>
      <div>
      <label for="email">Email:
        <input name="email" placeholder= "ex. 123@example.com" type="email" value="<%= params[:email] %>">
      </label>
    </div></br>
      <div>
      <label for="relation">Relation:
        <select name="relation">
          <% @relations.each do |relation| %>
            <option value="<%= relation %>"><%= relation %></option>
          <% end %>
        </select>
      </label>
    </div></br>
    <button type="submit">Submit</button>
     
  </fieldset> 
</form>
<a href="/">Cancel</a>

