<p>You have <%= count_contacts(@relation) %> contacts in <%= @relation %> group:</p>
<% @contacts.each do |contact| %>
  <% next if contact[:relation] != @relation %>
  <ul>
    <li>
      <a href=/contacts/<%= contact[:id] %>><%= contact[:firstname]%> <%= contact[:lastname]%></a>
    </li>
  </ul>
<% end %>

<a href="/">Back</a>